# Build output
/build

# renderKit-Relay
/relay/.env

# Dependencies
/node_modules

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Cache
.cache
