@import './tokens.css';
@import './base.css';
@import './blocks/hero.css';
@import './blocks/navigation.css';
@import './typography.css';
@import './blocks/swiper.css';
@import './blocks/text-block.css';
@import './blocks/text-image.css';
@import './blocks/footer.css';
@import './pages/product-page.css';
@import './utilities.css';
@import './blocks/product-grid.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
